<div class="container">
    <form>
    <table mat-table [dataSource]="products" class="mat-elevation-z8">
        <ng-container matColumnDef="show">
          <th mat-header-cell *matHeaderCellDef class="mat-head">
            <mat-icon fontIcon="visibility"></mat-icon>
          </th>
          <td mat-cell *matCellDef="let element">
            <input type="checkbox" color="primary" name="show" id="show" [checked]="element.show" (change)="saveShow(($event), element.id)">
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="mat-head"> 
              Produto           
              <button mat-stroked-button class="botão" (click)="addProduct()">
                  <mat-icon fontIcon="add">
                  </mat-icon>
                  Novo
              </button>
            </th>
            <td mat-cell *matCellDef="let element" (click)="editProduct(element)">
               {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef  class="mat-head"> Preço - (R$) </th>
            <td mat-cell *matCellDef="let element">
                <input currencyMask class="price" #price (blur)="savePrice($event, element.id)"
                [value]="element.price | number:'1.2-2':'pt'" (focus)="price.select()">
        </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky"></tr>
        <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </form>
</div>