@import '/src/styles.scss';

.buttonDlg {
  margin: 5px;
  width: 20%;
}
.buttonSave {
  margin: 5px;
  width: 20%;
  background-color: $verde !important;
}
.price {
  width: 5rem;
}
.mat-column-name {
    @include coluna($larg: 75%);
  }
.mat-column-price {
    @include coluna($larg:25%);
    text-align:right;
}
.botão {
  margin-left: 50px;
  background-color: $verde !important;
  color: $preto;
}
mat-form-field {
  width: 90% !important;
}
.dialog {
  text-align: center;
}
