<div class="container2x">
  <div class="imagem"><img class="logo" src="../assets/logo_pdv.png"/></div>
  <div class="botões">
    <a mat-raised-button class="botão" href="https://wa.me/5514998358112" >
      <div>
        <img class="v-align" src="../assets/whatsapp.png"/> 
        <span>  Fale Conosco</span>
    </div>
    </a>
    <button mat-raised-button routerLink="order" class="botão">
      <mat-icon fontIcon="shopping_cart">
      </mat-icon>
      Fazer pedido
    </button>
  </div>
</div>
<router-outlet></router-outlet>